#qna {
    display: none;
}

.qBox {
    background-color: whitesmoke;
    border-radius: 20px;
    text-align: center;
    font-size: 24px;
    width: 80%;
}

.answerList {
    background-color: whitesmoke;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    width: 80%;
    display: block;
    border: 0px;
}
.answerList:hover, .answerList:focus {
    background-color: pink;
    color: whitesmoke;
}